/* Reset for body and html to occupy the full viewport */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent overflow scrolling */
}

/* Main container setup */
#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Sidebar styling */
#sidebar {
  width: 400px;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Main area styling */
#mainArea {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Container for editor and summary canvas */
#editor-summary-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* Editor and summary canvas split */
#editor-container, #summaryCanvas {
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 20px;
}

/* Styling shared by editor and summary canvas */
.ql-editor, #summaryCanvas {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
